<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.cofile.sbbsecurity.mapper.UserMapper">
	<insert id="save" parameterType="kr.co.cofile.sbbsecurity.domain.User">
        INSERT INTO tusers (username, password, enabled, role)
        VALUES (#{username}, #{password}, #{enabled}, #{role})
    </insert>
	<select id="findByUsername" resultType="kr.co.cofile.sbbsecurity.domain.User">
        SELECT * FROM tusers WHERE username = #{username}
    </select>
</mapper>