<!DOCTYPE html>
<html xmlns:th="http://www.thymelead.org">
<head>
	<title>Login</title>
</head>
<body>
<h1>Login</h1>	

<div>Invalid username and password.</div>

<div>You have been logged out.</div>

<form action="login" method="post">
	<div>
		<label for="username_id">Username: </label>
		<input type="text" id="username_id" />
	</div>
	<div>
		<label for="password_id">Username: </label>
		<input type="text" id="password_id" />
	</div>
	<div>
		<input type="submit" value="Login" />
	</div>
</form>
</body>
</html>